.spinner{
  width:4em;
  height:4em;
  background:#a1a2a1;
  border-radius:50%;
  margin:5em auto;
  border:.3em solid transparent;
  animation:glow 1s ease infinite;
}

@keyframes glow {
0% {box-shadow:0 0 0 .4em #a1a2a1, 0 0 0 .1em #a1a2a1; transform:rotate(360deg);}
50% {border-top-color:#605556;}
100% { box-shadow:0 0 0 .4em #a1a2a1, 0 0 0 3.6em transparent;}
}