
// https://themestr.app/theme
$color_primary: #2F3C48;
$color_secondary: #6F7F8C;
$color_success: #3E4D59;
$color_danger: #CC330D;
$color_info: #5C8F94;
$color_warning: #D1D108;
$color_light: #ECEEEC;
$color_dark: #1E2B37; 
$color_text: rgb(33, 37, 41);

@import "partials/nav-menu";
@import "partials/loading-spinner";
@import "partials/style-overrides";
@import "partials/acf-form";








